<div class="question-article">
  <div class="question-article-title text-center">
    <h1><%= @question.title %></h1>
    <hr>
    <p><%= @question.description %></p>
  </div>
  <%= image_tag ("#{@question.url}.png"), class: "question-article-banner" %>

  <div class="product">
    <% @question.liens.each do |l| %>
      <div class='product-upvote'>
  <!--       <div class="product-arrow"></div> -->
        <div class='product-count'><%= l.category %></div>
      </div>
      <div class='product-body'>
          <%= link_to l.link do %>
            <h3><%= l.title %></h3>
            <h4><%= l.publication %></h4>
            <p><%= l.description %></p>
          <% end %>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-share"></i></a></li>
      </ul>
    <% end %>
  </div>
</div>
