<div class="index-banner">
  <div class="index-right col-md-8 text-center">
    <div class="index-title">
      <h1>Toutes les questions que l'on se pose sur la maladie</h1>
    </div>
    <div class="index-description">
      <p>En espérant que nous puissions trouver ensemble, dans chaque article, des réponses à vos nombreuses questions.</p>
    </div>
  </div>
</div>

<div class="index-list">
  <% @questions.each do |q| %>
    <div class="col-md-4 col-s-12 text-center">
      <div class="index-card-item">
        <div class="page-questions-card-body text-center">
          <%= image_tag "#{q.url}.png", class: "question-card-image" %>
          <div class="page-questions-card-description">
            <%= link_to question_path(q.url) do %>
              <h3><%= q.title %></h3>
            <% end %>
            <p><%= q.description %></p>
            <div class="page-question-card-link">
              <strong><%= link_to "Lire l'article", question_path(q.url), class: "pink-link"  %></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="supplement-info">
  <h2>Vous ne trouvez pas l'information que vous recherchez ?</h2>
  <div class="butt-test butt-supp">
    <%= link_to(root_path, class: "butt-pink") do %>
        <p>Laissez-moi un message</p>
    <% end %>
  </div>
</div>
