<div class="question-article">
  <div class="quotidien-article-upper">

      <div class="quotidien-article-left text-center col-xs-6">
        <%= image_tag "#{@quotidien.url}.png", class: "quotidien-article-image" %>
      </div>
      <div class="quotidien-article-right col-xs-6">
        <div class="quotidien-article-title">
          <h1><%= @quotidien.title %></h1>
        </div>
        <div class="quotidien-article-description">
          <p>On entend souvent dire que ce ne sont que des cheveux. Qu’il y a un sujet plus important à cet instant-même et c’est de guérir. Les cheveux repousseront. Pourtant, on ne peut s’empêcher de s’attacher à cette part de notre féminité, que nous les portions courts ou longs, ils représentaient un choix, un style et une histoire. Comprendre pourquoi nous les perdons et connaître les choix qui s’offrent à nous ne nous feront pas oublier leurs chutes, mais savoir peut nous aider à surmonter cette épreuve de la meilleure des façons possibles.</p>
        </div>
      </div>

  </div>

  <div class="product">
    <% @quotidien.liens.each do |l| %>
      <div class='product-upvote'>
  <!--       <div class="product-arrow"></div> -->
        <div class='product-count'><%= l.category %></div>
      </div>
      <div class='product-body'>
          <%= link_to l.link do %>
            <h3><%= l.title %></h3>
            <h4><%= l.publication %></h4>
            <p><%= l.description %></p>
          <% end %>
      </div>
      <ul class="list-inline product-controls">
        <li><a href=""><i class="fa fa-share"></i></a></li>
      </ul>
    <% end %>
  </div>

<!--   <div class="quotidien-section">
    <div class="row">
      <div class="question-subtitle-title col-xs-4">
        <h3>Pourquoi les cheveux tombent-ils ?</h3>
      </div>
      <div class="question-subtitle-text col-xs-8">
        <p>La chute des cheveux (dans un premier temps), des poils et des cils et sourcils (dans un deuxième temps) est un effet secondaire de la chimiothérapie. Un effet secondaire, c’est un peu un dommage collatéral, c’est-à-dire, un effet qui ne permet pas de combattre la maladie mais qui arrive à cause des traitements administrés.
        <br>
        Les cellules cancéreuses sont des cellules qui se divisent rapidement. Pour combattre la maladie, les médecins utilisent la chimiothérapie dans la majorité des traitements. La chimiothérapie est un médicament par cytostatiques, c’est-à-dire qu’elle attaque les cellules qui se divisent rapidement comme les cellules cancéreuses. Sauf que les cellules qui permettent la pousse de nos cheveux et de nos poils sont également des cellules à division rapide donc nos cheveux et nos poils se mettent à tomber.
        </p>
      </div>
    </div>
  </div>
  <div class="quotidien-section">
    <div class="row">
      <div class="question-subtitle-title col-xs-4">
        <h3>Quand les cheveux tombent-ils ?</h3>
      </div>
      <div class="question-subtitle-text col-xs-8">
        <p>La chute des cheveux (dans un premier temps), des poils et des cils et sourcils (dans un deuxième temps) est un effet secondaire de la chimiothérapie. Un effet secondaire, c’est un peu un dommage collatéral, c’est-à-dire, un effet qui ne permet pas de combattre la maladie mais qui arrive à cause des traitements administrés.
        <br>
        Les cellules cancéreuses sont des cellules qui se divisent rapidement. Pour combattre la maladie, les médecins utilisent la chimiothérapie dans la majorité des traitements. La chimiothérapie est un médicament par cytostatiques, c’est-à-dire qu’elle attaque les cellules qui se divisent rapidement comme les cellules cancéreuses. Sauf que les cellules qui permettent la pousse de nos cheveux et de nos poils sont également des cellules à division rapide donc nos cheveux et nos poils se mettent à tomber.
        </p>
      </div>
    </div>
  </div>
  <div class="quotidien-section">
    <div class="row">
      <div class="question-subtitle-title col-xs-4">
        <h3>Quand commencent-ils à repousser ?</h3>
      </div>
      <div class="question-subtitle-text col-xs-8">
        <p>La chute des cheveux (dans un premier temps), des poils et des cils et sourcils (dans un deuxième temps) est un effet secondaire de la chimiothérapie. Un effet secondaire, c’est un peu un dommage collatéral, c’est-à-dire, un effet qui ne permet pas de combattre la maladie mais qui arrive à cause des traitements administrés.
        <br>
        Les cellules cancéreuses sont des cellules qui se divisent rapidement. Pour combattre la maladie, les médecins utilisent la chimiothérapie dans la majorité des traitements. La chimiothérapie est un médicament par cytostatiques, c’est-à-dire qu’elle attaque les cellules qui se divisent rapidement comme les cellules cancéreuses. Sauf que les cellules qui permettent la pousse de nos cheveux et de nos poils sont également des cellules à division rapide donc nos cheveux et nos poils se mettent à tomber.
        </p>
      </div>
    </div>
  </div>
  <div class="quotidien-section">
    <div class="row">
      <div class="question-subtitle-title col-xs-4">
        <h3>Comment se préparer psychologiquement à cette perte de cheveux ?</h3>
      </div>
      <div class="question-subtitle-text col-xs-8">
        <p>La chute des cheveux (dans un premier temps), des poils et des cils et sourcils (dans un deuxième temps) est un effet secondaire de la chimiothérapie. Un effet secondaire, c’est un peu un dommage collatéral, c’est-à-dire, un effet qui ne permet pas de combattre la maladie mais qui arrive à cause des traitements administrés.
        <br>
        Les cellules cancéreuses sont des cellules qui se divisent rapidement. Pour combattre la maladie, les médecins utilisent la chimiothérapie dans la majorité des traitements. La chimiothérapie est un médicament par cytostatiques, c’est-à-dire qu’elle attaque les cellules qui se divisent rapidement comme les cellules cancéreuses. Sauf que les cellules qui permettent la pousse de nos cheveux et de nos poils sont également des cellules à division rapide donc nos cheveux et nos poils se mettent à tomber.
        </p>
      </div>

    </div>
  </div>
  <div class="quotidien-section">
    <div class="row">
      <div class="question-subtitle-title col-xs-4">
        <h3>Perruque ou pas perruque ? <br> Voici la vraie question.</h3>
      </div>
      <div class="question-subtitle-text col-xs-8">
        <p>La chute des cheveux (dans un premier temps), des poils et des cils et sourcils (dans un deuxième temps) est un effet secondaire de la chimiothérapie. Un effet secondaire, c’est un peu un dommage collatéral, c’est-à-dire, un effet qui ne permet pas de combattre la maladie mais qui arrive à cause des traitements administrés.
        <br>
        Les cellules cancéreuses sont des cellules qui se divisent rapidement. Pour combattre la maladie, les médecins utilisent la chimiothérapie dans la majorité des traitements. La chimiothérapie est un médicament par cytostatiques, c’est-à-dire qu’elle attaque les cellules qui se divisent rapidement comme les cellules cancéreuses. Sauf que les cellules qui permettent la pousse de nos cheveux et de nos poils sont également des cellules à division rapide donc nos cheveux et nos poils se mettent à tomber.
        </p>
      </div>
    </div>
  </div> -->

  <div class="quotidien-section-links text-center">
    <h3 class="show-links">Quelques sites qui pourront nous être utiles:</h3>
    <div class="groupe-de-logos">
      <%= link_to "https://www.oncovia.com/fr/" do %>
        <%= image_tag ("oncovia.png"), class: "partner-logos" %>
      <% end %>
      <%= link_to "https://www.elite-hair.fr/" do %>
        <%= image_tag ("elitehair-logo.png"), class: "partner-logos" %>
      <% end %>
      <%= link_to "http://lesfranjynes.com/" do %>
        <%= image_tag ("lesfranjynes-logo.png"), class: "partner-logos" %>
      <% end %>
      <%= link_to "https://www.rosettelavedette.com/fr/" do %>
        <%= image_tag ("rosette-logo.png"), class: "partner-logos" %>
      <% end %>
    </div>
  </div>

</div>
