<%# content_for :meta_title, "Les questions sur le quotidien de la maladie | Comprendre le Cancer du Sein" %>

<div class="index-banner">
  <div class="index-right col-xs-8 text-center">
    <div class="index-title">
      <h1>Ce que la maladie change dans notre quotidien ...</h1>
    </div>
    <div class="index-description">
      <p>Des listes collectées pour répondre à nos inquiétudes et nos doutes du quotidien.</p>
    </div>
  </div>
</div>

<div class="index-list">
  <div class="row">
    <% @quotidiens.each do |q| %>
      <div class="col-md-4 col-s-12 text-center">
        <div class="index-card-item">
          <div class="page-questions-card-body text-center">
            <%= image_tag "#{q.url}.png", class: "question-card-image" %>
            <div class="page-questions-card-description">
              <%= link_to quotidien_path(q.url) do %>
                <h3><%= q.title %></h3>
              <% end %>
              <p><strong><%= link_to "Lire l'article", quotidien_path(q.url), class: "pink-link"  %></strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="supplement-info">
  <h2>Vous ne trouvez pas l'information que vous recherchez ?</h2>
  <div class="butt-test butt-supp">
    <%= link_to(root_path, class: "butt-pink") do %>
        <p>Laissez-moi un message</p>
    <% end %>
  </div>
</div>
