<div class="footer text-center">
  <div class="footer-left col-md-4 col-xs-12">
    <%= image_tag ("logo.png"), class: "small-logo" %>
    <p>Comprendre le cancer du sein est un site créé par une patiente actuellement en rémission de la maladie et ne prétend en aucun cas donner un avis médical ou remplacer l'avis d'un médecin. Il s'agit d'une collecte dans le but de partager les informations trouvées.
    <br><br>
    Ce volet de "Comprendre" est le 1er d'une série de recherches, qui tentera de comprendre et de partager les informations trouvées dans d'autres domaines choisis par l'auteur.
    </p>
  </div>
  <div class="footer-right col-md-8 col-xs-12">
    <div class="footer-right-items">
      <div class="footer-right-item">
        <%= link_to questions_path do %>
          <p>Maladie</p>
        <% end %>
      </div>
      <div class="footer-right-item">
        <%= link_to quotidiens_path do %>
          <p>Quotidien</p>
        <% end %>
      </div>
      <div class="footer-right-item">
        <%= link_to root_path do %>
          <p>Entendus</p>
        <% end %>
      </div>
      <div class="footer-right-item">
        <%= link_to root_path do %>
          <p>Projet</p>
        <% end %>
      </div>
      <div class="footer-right-item-contact">
        <p>Me Contacter</p>
      </div>
    </div>
  </div>
</div>
<div class="below-footer">
  <p>Développé avec <i class="fas fa-heart"></i> par STUDIO BÔLÊ</p>
</div>
