<div class="navbar">
  <div class="navbar-left">
    <%= link_to home_path do %>
      <%= image_tag ("logo.png"), class: "navbar-logo" %>
    <% end %>
  </div>
  <div class="navbar-middle">
    <div class="navbar-middle-item">
      <%= link_to questions_path do %>
        <p>Maladie</p>
      <% end %>
    </div>
    <div class="navbar-middle-item">
      <%= link_to root_path do %>
        <p>Quotidien</p>
      <% end %>
    </div>
    <div class="navbar-middle-item">
      <%= link_to root_path do %>
        <p>Entendus</p>
      <% end %>
    </div>
    <div class="navbar-middle-item">
      <%= link_to root_path do %>
        <p>Projet</p>
      <% end %>
    </div>
  </div>
  <div class="navbar-right">
    <i class="fas fa-envelope"></i>
  </div>
</div>

