<div class="page-upper">
  <div class="page-upper-left dot-one">
    <div class="page-upper-left-text">
      <div class="page-upper-left-text-item">
        <h1 class= "h-big">« Les résultats sont revenus et ils ne sont pas bons du tout. Il va falloir faire un traitement général. »</h1>
      </div>
      <div class="page-upper-left-text-item">
        <p class="p-small">Toutes nos histoires commencent différemment mais nous abandonnent au même point. A ce fameux jour où cette nouvelle est venue nous assommée.
        <br> <br>
        Jamais je ne pourrai prétendre ressentir ce que vous avez ressenti et jamais je ne pourrai savoir comment vous avez réagi. Mais je sais que si vous êtes ici, c’est que vous recherchez les réponses aux mêmes questions que je me suis posée. J’espère que ce fascicule remplira sa première mission, celle de vous aider à comprendre cet inconnu qui est rentré dans votre vie.
        </p>
      </div>
    </div>
    <div class="butt-test">
      <%= link_to(root_path, class: "butt-pink") do %>
          <p>Comprendre mon projet</p>
      <% end %>
    </div>
  </div>
  <div class="page-upper-right">
    <div class="half-page-illustration"></div>
  </div>
</div>

<div class="page-questions dot-two">
  <div class="page-questions-title text-center">
    <div class="page-questions-title-item-1">
      <p>Les Questions sur la Maladie</p>
    </div>
    <div class="page-questions-title-item-2">
      <h1>Carcinome canalaire infiltrait, grade, stade, ACR, cancer hormonale, triple négatif ... <br> Dîtes-moi ce que j'ai, en Français s'il vous plait.</h1>
    </div>
  </div>
  <div class="page-questions-cards">
    <% @questions.each do |q| %>
      <%= link_to question_path(q.url) do %>
        <%= q.title %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="page-quotidien">
  <div class="page-questions-title text-center">
    <div class="page-questions-title-item-1">
      <p>Les Questions sur le Quotidien</p>
    </div>
    <div class="page-questions-title-item-2">
      <h1>Nourriture, sports ... Comment ma vie au quotidien est-elle affectée ?</h1>
    </div>
  </div>
  <div class="page-questions-cards">
    <% @quotidiens.each do |q| %>
      <%= link_to quotidien_path(q.url) do %>
        <%= q.title %>
      <% end %>
    <% end %>
  </div>
</div>
