<div class="page-upper">
  <div class="page-upper-left dot-one">
    <div class="page-upper-left-text">
      <div class="page-upper-left-text-item">
        <h1 class= "h-big">« Les résultats sont revenus et ils ne sont pas bons du tout. Il va falloir faire un traitement général. »</h1>
      </div>
      <div class="page-upper-left-text-item">
        <p class="p-small">Voilà comment mon histoire avec le cancer a commencé. Toutes nos histoires débutent de manière unique. Mais elles ont pour point commun de nous jeter dans un monde inconnu face à une maladie que pour la majorité, à moins d'avoir des antécédents dans la famille, nous ne connaissons souvent très peu.
        <br> <br>
        Lors de mon diagnostic, j'ai passé beaucoup de temps à chercher et à comprendre. J'ai voulu créer ce fascicule afin de regrouper toutes ces informations que j'ai pu récolter en posant des questions aux médecins et en faisant mes propres recherches. En espérant qu'elles puissent vous aider comme elles m'ont aidé à donner un sens à cette maladie.
        <br><br>
        A ce jour, les informations sont mises en ligne quotidiennement.
        </p>
      </div>
    </div>
    <div class="butt-test">
      <%= link_to(root_path, class: "butt-pink") do %>
          <p>Comprendre mon projet</p>
      <% end %>
    </div>
  </div>
  <div class="page-upper-right">
    <div class="half-page-illustration"></div>
  </div>
</div>

<div class="page-questions dot-two">
  <div class="page-questions-title text-center">
    <div class="page-questions-title-item-1">
      <p>Les Questions sur la Maladie</p>
    </div>
    <div class="page-questions-title-item-2">
      <h1>Carcinome canalaire infiltrait, grade, stade, ACR, cancer hormonale, triple négatif ... <br> Dîtes-moi ce que j'ai, en Français s'il vous plait.</h1>
    </div>
  </div>
  <div class="page-questions-cards">
    <% @questions.each do |q| %>
      <%= link_to question_path(q.url) do %>
        <%= q.title %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="page-quotidien">
  <div class="page-questions-title text-center">
    <div class="page-questions-title-item-1">
      <p>Les Questions sur le Quotidien</p>
    </div>
    <div class="page-questions-title-item-2">
      <h1>Nourriture, sports ... Comment ma vie au quotidien est-elle affectée ?</h1>
    </div>
  </div>
  <div class="page-questions-cards">
    <% @quotidiens.each do |q| %>
      <%= link_to quotidien_path(q.url) do %>
        <%= q.title %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="page-entendu">
  <div class="page-questions-title text-center">
    <div class="page-questions-title-item-1">
      <h1>Certaines de ces phrases sont venus de ceux qui m'ont le plus soutenu. Et malgré toute leur bonne volonté, personne n'est parfait.</h1>
    </div>
    <div class="page-questions-cards">
      <% @entendus.each do |e| %>
        <%= e.title %>
      <% end %>
    </div>
    <%= link_to entendus_path do %>
      <p>Voir plus</p>
    <% end %>
  </div>
</div>

<div class="page-sources">
  <h1>Sites d'où viennent majorité des informations</h1>
</div>
