<div class="page-upper">
  <div class="page-upper-left dot-one">
    <div class="page-upper-left-text">
      <div class="page-upper-left-text-item">
        <h1 class= "h-big">« Les résultats sont revenus et ils ne sont pas bons du tout. Il va falloir faire un traitement général. »</h1>
      </div>
      <div class="page-upper-left-text-item">
        <p class="p-small">Voilà comment mon histoire avec le cancer a commencé. Toutes nos histoires débutent de manière unique. Mais elles ont pour point commun de nous jeter dans un monde inconnu face à une maladie que pour la majorité, à moins d'avoir des antécédents dans la famille, nous ne connaissons souvent très peu.
        <br> <br>
        Lors de mon diagnostic, j'ai passé beaucoup de temps à chercher et à comprendre. J'ai voulu créer ce fascicule afin de regrouper toutes ces informations que j'ai pu récolter en posant des questions aux médecins et en faisant mes propres recherches. En espérant qu'elles puissent vous aider comme elles m'ont aidé à donner un sens à cette maladie.
        <br><br>
        A ce jour, les informations sont mises en ligne quotidiennement.
        </p>
      </div>
    </div>
    <div class="butt-test">
      <%= link_to(root_path, class: "butt-pink") do %>
          <p>Comprendre mon projet</p>
      <% end %>
    </div>
  </div>
  <div class="page-upper-right">
    <div class="half-page-illustration"></div>
  </div>
</div>

<div class="page-questions dot-two text-center">
  <div class="page-questions-title text-center">
    <div class="page-questions-title-item-1">
      <p><strong>Les Questions sur la Maladie</strong></p>
    </div>
    <div class="page-questions-title-item-2">
      <h1>Cancer, biopsie, carcinome canalaire infiltrait, grade, stade, hormonale, triple négatif ... <br> Expliquez-moi ma maladie, en Français s'il vous plait.</h1>
    </div>
  </div>
  <div class="page-questions-cards text-center">
    <div class="page-questions-row text-center">
      <% @questions.sample(3).each do |q| %>
        <div class="page-questions-card-item">
          <div class="col-md-4 text-center">
            <div class="page-questions-card-body text-center">
              <%= image_tag "#{q.url}.png", class: "question-card-image" %>
              <div class="page-questions-card-description">
                <%= link_to question_path(q.url) do %>
                  <h3><%= q.title %></h3>
                <% end %>
                <p><%= q.description %></p>
                <div class="page-question-card-link">
                  <strong><%= link_to "Lire l'article", question_path(q.url), class: "pink-link"  %></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="page-questions-link">
    <%= link_to questions_path do %>
      <p>Voir les autres articles</p>
    <% end %>
  </div>
</div>

<div class="page-quotidien">
  <div class="page-quotidien-right text-center">
    <div class="page-questions-title text-center">
      <div class="page-questions-title-item-1">
        <p><strong>Les Listes pour Aider Au Quotidien</strong></p>
      </div>
      <div class="page-quotidiens-title-item-2">
        <h1>Nourriture, sports ... Comment ma vie au quotidien est-elle affectée ?</h1>
      </div>
    </div>
    <div class="page-quotidiens-cards">
      <% @quotidiens.each do |q| %>
        <div class="page-quotidiens-cards-item">
          <div class="page-quotidiens-cards-text">
            <%= link_to quotidien_path(q.url) do %>
              <p class="quotidien-title"><%= q.title %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="page-entendus-link">
      <%= link_to quotidiens_path do %>
        <p>Voir d'autres listes</p>
      <% end %>
    </div>
  </div>
</div>

<div class="page-entendu">
  <div class="page-entendu-left">
    <div class="page-questions-title text-center">
      <div class="page-entendus-title-item-1 text-center">
        <h1>Comment communiquer avec nos proches ?</h1>
      </div>
      <div class="page-entendus-link">
        <%= link_to entendus_path do %>
          <p>Voir d'autres histoires</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="page-entendu-right">
    <div class="page-entendu-items">
      <% @entendus.sample(3).each do |e| %>
        <%= link_to entendus_path do  %>
<!--           <div class="page-entendus-card round text-center" style="background-image: url(assets/circle<%#= rand(2) %>.jpg)"> -->
          <div class="page-entendus-card round text-center">
  <!--         <div class="page-entendus-card round text-center"> -->
            <div class="entendus-title">
              <h4 class="cursive"><%= e.title %></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="supplement-info">
  <h2>Vous ne trouvez pas l'information que vous recherchez ?</h2>
  <div class="butt-test butt-supp">
    <%= link_to(root_path, class: "butt-pink") do %>
        <p>Laissez-moi un message</p>
    <% end %>
  </div>
</div>

<div class="page-sources text-center">
  <h1>Quelques sources d'informations ...</h1>
  <div class="page-sources-logos">
    <div class="source-logo">
      <%= link_to "https://curie.fr/" do %>
        <%= image_tag("curie-logo.png") %>
      <% end %>
    </div>
    <div class="source-logo">
      <%= link_to "https://www.ligue-cancer.net/" do %>
        <%= image_tag("laligue-logo.png") %>
      <% end %>
    </div>
    <div class="source-logo">
      <%= link_to "http://www.e-cancer.fr/" do %>
        <%= image_tag("inca-logo.png") %>
      <% end %>
    </div>
  </div>
</div>
