<%# content_for :meta_title, "Vivre avec les autres au quotidien | Comprendre le Cancer du Sein" %>

<div class="index-banner">
  <div class="index-right col-md-8 text-center">
    <div class="index-title">
      <h1>Ils nous soutiennent au quotidien et parfois, même nos héros de tous les jours, arrivent à nous piquer non intentionnellement.</h1>
    </div>
    <div class="index-description">
      <p>Des petites pensées positives pour se souvenir que ce n'est pas facile pour eux tous les jours non plus.</p>
    </div>
  </div>
</div>

<div class="index-list">
  <div class="row">
    <% @entendus.each do |e| %>
      <div class="col-md-4 col-s-12 text-center">
        <div class="index-card-item">
          <div class="page-questions-card-body text-center">
            <%= image_tag "pinkpaint.png", class: "question-card-image" %>
            <div class="page-questions-card-description">
              <%= link_to entendu_path(e.url) do %>
                <h3><%= e.title %></h3>
              <% end %>
              <p><strong><%= link_to "Lire l'article", entendu_path(e.url), class: "pink-link"  %></strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="supplement-info">
  <h2>Vous ne trouvez pas l'information que vous recherchez ?</h2>
  <div class="butt-test butt-supp">
    <%= link_to(root_path, class: "butt-pink") do %>
        <p>Laissez-moi un message</p>
    <% end %>
  </div>
</div>
